<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title">
    {% else %}
        <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    <link href="https://srct.gmu.io/masonstrap/css/masonstrap.min.css" rel="stylesheet">
    <script src="https://srct.gmu.io/masonstrap/js/masonstrap.min.js"></script>
    <link href="{{ site.baseurl | prepend: site.url }}/styles.css" rel="stylesheet">
</head>